<phpunit bootstrap="Tests/boot.php">
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./Source/</directory>
        </whitelist>
    </filter>
    <testsuites>
        <testsuite name="Skeleton">
            <directory>Tests</directory>
        </testsuite>
    </testsuites>
    <logging>
         <log type="coverage-clover" target="Build/Logs/clover.xml"/>
    </logging>
</phpunit>