<phpunit bootstrap="Tests/boot.php">
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./Source/</directory>
            <exclude>
                <file>Skeleton/ProcessMock/Content/original_file.php</file>
            </exclude>
        </whitelist>
    </filter>
    <testsuites>
        <testsuite name="Skeleton">
            <directory>Tests</directory>
        </testsuite>
    </testsuites>
    <logging>
         <log type="coverage-clover" target="Build/Logs/clover.xml"/>
    </logging>
</phpunit>